@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  ::-webkit-scrollbar-track {
    background-color: theme(colors.slate.900);
  }

  ::-webkit-scrollbar {
    background-color: theme(colors.slate.900);
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.slate.800);
  }

  @supports (scrollbar-color: red green) {
    :root {
      scrollbar-color: theme(colors.slate.800) theme(colors.slate.900);
    }
  }
}
